{{> head}}
{{> nav}}

<div class="row">
    <div class="col-8">
        <h1>Un texto bonito</h1>
    </div>
    <div class="col-4">
        <img src="/assets/img/pic.png" class="img-thumbnail"/>
    </div>
</div>

{{> footer}}